{{/* TODO make abstract if needed in future */}}
{{ $url := "" }}
{{ $pkgStat := "" }}
{{ $pkgReadme := "" }}
{{ $pkgLicense := "" }}
{{ $pkgSourceCode := "" }}
{{ $npmPackageDownloadsStatUrl := "https://npm-trends-gateway.onrender.com/npm/downloads/point/last-year/" }}
{{ $npmPackageFullStatUrl := "https://npm-trends-gateway.onrender.com/npm/registry/" }}

{{ $pkgName := .Params.packageName }}
{{ $pkgDownloads := "" }}

{{ if $pkgName }}

{{ $url = path.Join $npmPackageDownloadsStatUrl $pkgName }}
{{ $url = replace $url "https:/" "https://" 1 }}
{{ $pkgDownloads = getJSON $url }}
{{ $pkgDownloads = $pkgDownloads.downloads }}

{{ $url = path.Join $npmPackageFullStatUrl $pkgName }}
{{ $url = replace $url "https:/" "https://" 1 }}
{{ $pkgStat = getJSON $url }}

{{ end }}

{{ $pkgDate := .Date.Format (.Site.Params.dateFormat | default "2006-01-02") }}
{{ if ne $pkgStat "" }}
{{ $pkgDate = $pkgStat.time.modified | time.AsTime | time.Format "2006-01-02" }}
{{ end }}

<div class="flex flex-wrap flex-row items-center mt-2 font-mono text-tertiary-text">

    <div class="mr-6 my-2">
        {{ $pkgDate }}
    </div>

    {{ with $pkgDownloads }}

    <div class="mr-6 my-2">
        {{ i18n "appInstalls"}}: {{ $pkgDownloads }}
    </div>

    <div class="mr-6 my-2">
        {{ $pkgStat.license }}
    </div>

    <div class="mr-6 my-2">
        <a href="{{ $pkgStat.homepage }}" target="_blank">Source Code</a>
    </div>

    {{ end }}

</div>