{{ $currentPage := .permalink }}

<div class="sidenav pb-2">
  {{ range .context.Pages.ByWeight }}
  {{ $version := findRE
  "v?(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?/$"
  .Permalink }}
  {{ if eq (len $version) 0 }}

  {{ if .IsSection }}
    <a href="{{ .Permalink }}" class="dropdown-btn {{ if eq .Permalink $currentPage }}active{{ end }}">{{ .LinkTitle
      }} {{ if .Pages }} <i class="fa fa-angle-down"></i> {{ end }}</a> 
      
    <div class="dropdown-container">
      {{ partial "components/doc-menu-list" (dict "context" . "permalink" $.permalink) }}
    </div>
  {{ else }}
  <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
  {{ end }}

  {{ end }}

  {{ end }}
</div>