{{ $hasToc := and (in .TableOfContents "<li>" ) (.Params.toc) }}

    {{ $hasSidebar := or ($hasToc) (.Params.series) }}
    <div class="lg:pt-12">
        <div class="flex flex-col md:flex-row bg-secondary-bg rounded">
            <div class="md:w-1/4 lg:w-1/5 border-e">
                <div class="sticky top-16 pt-6">
                    {{ template "doc-sidebar" (dict "context" . "permalink" .Permalink) }}
                </div>
            </div>

            <div class="w-full md:w-3/4 lg:w-4/5 pb-2 pt-2 md:pt-2">
                <div class="flex">
                    <div class="w-full lg:w-3/4 px-6">
                        {{ partial "components/post-article" . }}

                        {{ with .GetTerms "tags" }}
                        {{ partial "components/post-tags" . }}
                        {{ end }}
                        {{ with .GetTerms "authors" }}
                        {{ partial "components/post-author" . }}
                        {{ end }}

                        {{/* {{ partial "components/post-edit" . }} */}}

                        {{ partial "components/post-doc-footer" . }}
                        {{ partial "comment" . }}
                    </div>
                    {{ if $hasSidebar}}
                    <div class="hidden lg:block lg:w-1/4">
                        {{ if ne $hasToc false }}
                        {{ partial "components/post-toc" . }}
                        {{ end }}
                    </div>
                    {{ end }}
                </div>
            </div>

        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            changeSidebarHeight();
            switchDocToc(); // in mobile view
        })
    </script>


    {{ define "doc-sidebar" }}
    {{ $parentLayout := partial "utils/hyphenate" (.context.Parent.Layout | default .context.Parent.Type) }}

    {{ if eq $parentLayout "doc-list" }}

    {{ partial "components/docs/list-pages" (dict "context" .context "permalink" .permalink) }}

    {{ else if (findRE
    "v?(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?/$"
    .context.Permalink) }}

    {{ partial "components/docs/list-pages" (dict "context" .context "permalink" .permalink) }}
    {{ else }}
    {{ template "doc-sidebar" (dict "context" .context.Parent "permalink" .permalink) }}
    {{ end }}

    {{ end }}


    {{ define "partials/get-versions" }}
    {{/* Deprecation warning(v1.0.0) starts */}}
    {{ $parentLayout := partial "utils/hyphenate" (.context.Parent.Layout | default .context.Parent.Type) }}
    {{/* Deprecation warning(v1.0.0) ends */}}
    {{ if eq $parentLayout "doc-list" }}
    {{ range .context.Pages.ByWeight }}
    {{ $hasVersion := findRE
    "v?(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?/$"
    .Permalink }}
    {{ if $hasVersion}}
    {{ $version := slice .Permalink }}
    {{ $.context.Scratch.Add "versions" $version }}
    {{ end }}
    {{ end }}
    {{ else }}
    {{ range .context.Parent.Pages.ByWeight }}
    {{ $hasVersion := findRE
    "v?(0|[1-9]\\d*)\\.(0|[1-9]\\d*)\\.(0|[1-9]\\d*)(?:-((?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*)(?:\\.(?:0|[1-9]\\d*|\\d*[a-zA-Z-][0-9a-zA-Z-]*))*))?(?:\\+([0-9a-zA-Z-]+(?:\\.[0-9a-zA-Z-]+)*))?/$"
    .Permalink }}
    {{ if $hasVersion }}
    {{ $version := slice .Permalink }}
    {{ $.context.Scratch.Add "versions" $version }}
    {{ end }}
    {{ end }}
    {{ end }}
    {{ $versions := .context.Scratch.Get "versions" }}
    {{ .context.Scratch.Delete "versions" }}
    {{ return $versions }}
    {{ end }}