{{- $editMap := partial "get-edit-url" . }}
{{- if or .Site.Params.repoEditURL $editMap.repoEditURL }}

<div class="feedback-links mt-4 text-sm">
  {{- $repoEditURL := path.Join .Site.Params.repoURL "/blob/master/" }}
  {{ $contentDir := cond .Site.IsMultiLingual .Site.Params.contentDir "/content/" }}
  {{ $path := path.Join $repoEditURL $contentDir .File.Path }}
  {{ $path = replace $path "http:/" "http://" 1 }}
  {{ $path = replace $path "https:/" "https://" 1 }}

  {{- $repoIssueURL := path.Join .Site.Params.repoURL "/issues/new" }}
  {{ $pathIssue := path.Join $repoIssueURL "?body=File:%20[" $contentDir .File.Path "](" .Page.Permalink ")" }}
  {{ $pathIssue = replace $pathIssue "http:/" "http://" 1 }}
  {{ $pathIssue = replace $pathIssue "https:/" "https://" 1 }}

  <hr>
  <div>
    <a href="{{ $path }}" title="Edit this page">
      <i class="fas fa-edit me-1"></i>
      <span>{{ i18n "editThisPage" }}</span>
    </a>
  </div>
  <div>
    <a href="{{ $pathIssue }}" title="Edit this page">
      <i class="fas fa-check me-1" aria-hidden="true"></i>
      <span>{{ i18n "requestChangeThisPage" }}</span>
    </a>
  </div>
</div>

{{- end }}

{{ define "partials/get-edit-url" }}
{{ $repoEditURL := "" }}
{{ $fileDir := "" }}
{{ $bundles := partial "utils/get-bundles" . }}
{{ range $bundles.Reverse }}
{{ if .Params.repoEditURL }}
{{ $repoEditURL = .Params.repoEditURL }}
{{ $fileDir = .File.Dir }}
{{ end }}
{{ end }}
{{ return (dict "repoEditURL" $repoEditURL "fileDir" $fileDir) }}
{{ end }}