<article class="prose">
  <h1 class="mb-1 text-2xl">{{ .Title }}</h1>

  {{ partial "components/post-metadata" . }}

  {{ if ne .Page.Params.type "500px" }} {{/*  {{ don't show for gallery post }}  */}}
    {{ $featured := partial "utils/get-featured" . }}
    {{ with $featured }}
    {{ . }}
    {{ end }}
  {{ end }}

  <div class="block lg:hidden">
    {{ partial "components/post-toc-on-mobile" . }}
  </div>

  {{ .Content }}
</article>


{{/* highlight.js */}}
{{- if eq .Site.Params.highlight.handler "highlightjs" }}
<script>
  document.addEventListener("DOMContentLoaded", () => {
    hljs.highlightAll();
  });
</script>
{{- end }}
{{/* end highlight.js */}}