<article class="prose">
  <h1 class="mb-1 text-2xl">{{ .Title }}</h1>

  {{ partial "components/post-metadata" . }}

  {{ $featured := partial "utils/get-featured" . }}
  {{ with $featured }}
  {{ . }}
  {{ end }}

  {{/*  <div class="hidden sm:block md:block md:w-1/2 sm ">
    {{ partial "components/post-toc-on-mobile" . }}
  </div>  */}}

  {{/*  <div class="block sm:block md:block lg:hidden">
    {{ partial "components/post-toc-on-mobile" . }}
  </div>  */}}


  <div class="block lg:hidden">
    {{ partial "components/post-toc-on-mobile" . }}
  </div>

  {{ .Content }}
</article>