# Ignore docs files
_site
.ruby-version
.jekyll-metadata
.vscode
.cph # codeforces helper

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~
# *.lock

# OS or Editor folders
*.scssc
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
.asset-cache
.sass-cache

# Folders to ignoregit@github.com:romankurnovskii/hugo-theme-yalla.git
public
node_modules

