{{ define "main" }}
<section class="main">
    <div class="container">
        <div class="row">
            <div class="col">
                {{/* {{ partial "title" . }} */}}
                <div class="py-3">{{ .Content | markdownify }}</div>
            </div>
        </div>
        <div class="row">
            {{- $images := .Resources.ByType "image" -}}
            {{ range $image := $images }}
            {{- /* if width is greater than height */ -}}
            {{- if gt .Width .Height -}}
            {{- $image = .Fill (printf "%dx%d" .Height .Height) -}}
            {{- else -}}
            {{- /* if height is greater than width */ -}}
            {{- $image = .Fill (printf "%dx%d" .Width .Width) -}}
            {{- end -}}
            <div class="col-6 col-md-4 col-xl-3 pb-3 px-2">
                <img src="{{ $image.RelPermalink }}" id="zoom-default" alt="Gallery Image" class="img-fluid"
                    width="{{ $image.Width }}" height="{{ $image.Height }}" loading="lazy">
            </div>
            {{ end }}
        </div>
    </div>
</section>

{{ end }}