:root {
  @apply bg-primary-bg text-secondary-text font-eureka;
  --color-eureka: {{ partial "utils/get-style-color" (dict "context" . "path" (slice "light" "theme")) }};
  --color-primary-bg: {{ partial "utils/get-style-color" (dict "context" . "path" (slice "light" "primaryBackground")) }};
  --color-secondary-bg: {{ partial "utils/get-style-color" (dict "context" . "path" (slice "light" "secondaryBackground")) }};
  --color-tertiary-bg: {{ partial "utils/get-style-color" (dict "context" . "path" (slice "light" "tertiaryBackground")) }};
  --color-primary-text: {{ partial "utils/get-style-color" (dict "context" . "path" (slice "light" "primaryText")) }};
  --color-secondary-text: {{ partial "utils/get-style-color" (dict "context" . "path" (slice "light" "secondaryText")) }};
  --color-tertiary-text: {{ partial "utils/get-style-color" (dict "context" . "path" (slice "light" "tertiaryText")) }};
  --fonts-eureka: {{ $fonts := partial "utils/get-style-fonts" (dict "context" . "param" "name") }}{{ range $index, $value := $fonts }}{{ if gt $index 0 }},{{ end }}{{ $value }}{{ else }}""{{ end }};
    /* Github */
  --font-sans: "Roboto", -apple-system, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    /* PT Serif on macos, Georgia on Windows */
  --font-serif: "PT Serif", Georgia, serif;
    /* Github */
  --font-monospace: "SFMono-Regular", "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
}

.dark {
  --color-eureka: {{ partial "utils/get-style-color" (dict "context" . "path" (slice "dark" "theme")) }};
  --color-primary-bg: {{ partial "utils/get-style-color" (dict "context" . "path" (slice "dark" "primaryBackground")) }};
  --color-secondary-bg: {{ partial "utils/get-style-color" (dict "context" . "path" (slice "dark" "secondaryBackground")) }};
  --color-tertiary-bg: {{ partial "utils/get-style-color" (dict "context" . "path" (slice "dark" "tertiaryBackground")) }};
  --color-primary-text: {{ partial "utils/get-style-color" (dict "context" . "path" (slice "dark" "primaryText")) }};
  --color-secondary-text: {{ partial "utils/get-style-color" (dict "context" . "path" (slice "dark" "secondaryText")) }};
  --color-tertiary-text: {{ partial "utils/get-style-color" (dict "context" . "path" (slice "dark" "tertiaryText")) }};
}

body {
  font-family: var(--font-eureka);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,h4,h5 {
  @apply text-primary-text;
}




a:hover,
a:hover * {
  @apply text-eureka transition duration-300 ease-in-out;
}

.share-buttons {
  all: none
}
.resp-sharing-button {
  max-height: 48px;
  max-width: 48px
}