.prose {
  @apply text-primary-text mt-10 break-words text-base leading-relaxed;
}

.prose > * {
  @apply mb-4;
}

.prose li + li {
  @apply mt-1;
}

.prose li > p + p {
  @apply mt-6;
}

.prose strong {
  @apply font-semibold;
}

.prose a {
  @apply text-eureka;
}

.prose a:hover {
  @apply text-eureka underline;
}

.prose strong a {
  @apply font-bold;
}

.prose blockquote {
  @apply border-eureka text-secondary-text border-l-4 pl-4 pr-4 text-base;
}

.prose code {
  @apply bg-tertiary-bg inline rounded font-mono text-sm !important;
  direction: ltr;
  white-space : pre-wrap !important;
}

.prose pre {
  @apply bg-tertiary-bg rounded p-4;
}

.prose pre code {
  @apply block overflow-auto rounded-none bg-transparent p-0;
}

.prose ul {
  @apply list-disc pl-8 text-base;
}

.prose ol {
  @apply list-decimal pl-8 text-base;
}

.prose kbd {
  @apply inline-block rounded border p-1 align-middle font-mono text-xs font-normal shadow;
}

.prose table {
  @apply border-secondary-text block overflow-auto text-base;
}

.prose th {
  @apply border py-1 px-3;
}

.prose td {
  @apply border py-1 px-3;
}

.prose .katex {
  @apply overflow-x-auto overflow-y-hidden;
}

.prose .katex * {
  @apply border-primary-text;
}

.prose *:target {
  padding-top: 4rem;
  margin-top: -4rem;
}

.prose hr {
  @apply mt-10;
}
