#opencomments {
  @apply md:flex;
}

#opencomments li {
  @apply mt-2 flex cursor-pointer items-center justify-between rounded bg-white p-2 transition hover:shadow-lg;
}

#opencomments .comment__block {
  display: flex;
  flex-direction: column;
  margin-left: 0.5rem;
}

#opencomments .comment_author {
  @apply font-medium text-black;
}

#opencomments .comment_text {
  @apply text-sm text-gray-600;
}

#opencomments .comment_date__div {
  /* flex flex-col items-center */
  @apply text-sm;
}

#opencomments .comment_date {
  @apply text-sm;
}
