.sticky-toc {
  @apply sticky top-24 z-0 duration-300 ease-in-out;
}

.sticky-toc a {
  @apply text-secondary-text duration-200 ease-in-out;
}

.sticky-toc a:hover {
  @apply text-eureka;
}

.sticky-toc ul {
  @apply ps-0.5 text-tertiary-text  text-base;
}

.sticky-toc ul > li {
  @apply ps-2 py-0.5;
}

.sticky-toc ol {
  @apply ps-8 text-tertiary-text list-decimal text-base;
}

.sticky-toc li + li {
  @apply mt-1;
}

.sticky-toc li > p + p {
  @apply mt-2;
}

.object-contain {
  object-fit: contain !important;
}

.pagination {
  @apply flex justify-center;
}

.pagination .page-item {
  @apply flex items-center;
}

.pagination .page-item .page-link {
  @apply m-2 p-2;
}

.pagination .active {
  @apply text-eureka;
}

.pagination .page-item:not(.disabled):hover {
  @apply text-eureka;
}

.selected-menu-item {
  @apply text-eureka;
  border-top-color: var(--color-eureka);
  border-bottom-color: transparent;
}

#page__views__div {
  display: none;
}

/* DOCS SIDEBAR */

.doc__nav__section a {
  @apply  rounded-lg transition duration-75;
}

.doc__nav__section button {
  @apply hover:bg-tertiary-bg w-7 rounded-lg text-base font-normal transition duration-75  dark:hover:bg-gray-100;
}

#doc__nav__dropdown {
  @apply ml-3 space-y-2 py-2;
}

#doc__nav__dropdown a {
  @apply hover:bg-tertiary-bg flex w-full items-center rounded-lg text-base font-normal transition  duration-75;
}

/* END DOCS SIDEBAR */
