{{ if .Site.Params.comment.opencomments.server }}
{{ $opencommentsServer := .Site.Params.comment.opencomments.server }}

<!--- opencomments comments  --->
<div id="article__comments" style="padding-top: 10px; margin-bottom:2px">
    <h2>{{ i18n "comments" }}</h2>

    <div id="opencomments__v2">
        <div class="w-full p-4">
            <div class="relative"> </div>
            <ul id="opencomments__v2__list">
            </ul>
        </div>
    </div>

    <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-4" for="username">
                {{ i18n "name" }}
            </label>
            <input id="form__comment_author"
                class="shadow appearance-none border rounded w-full py-3 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                id="username" type="text" placeholder="Anonymous">
        </div>
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
                {{ i18n "comment" }}
            </label>
            <textarea
                class="shadow appearance-none border border-red-500 rounded w-full py-3 px-3 text-gray-700 mb- leading-tight focus:outline-none focus:shadow-outline"
                id="comment" type="text" placeholder="{{ i18n "comment" }}"></textarea>
        </div>
        <div class="flex items-center justify-between">
            <button id="comment-send"
                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="button">
                {{ i18n "send" }}
            </button>

        </div>
    </form>

</div>


<div id="react-block"></div>
<script async src="/js/opencomments.js?v5" server={{ $opencommentsServer }}></script>
<!--- opencomments comments  --->


{{ end }}