{{ $url_post := .context.Permalink }}
{{- $img := "" }}
{{ $isMatchedUrl := resources.GetMatch .imgUrl }}
{{ $pp := "ote" }}
{{- $validKeyword := false }}

{{- if .keyword }}
{{- if (.context.Resources.ByType "image").GetMatch .keyword }}
{{- $validKeyword = true}}
{{- end }}
{{- end }}

{{- if $validKeyword }}
{{- $img = ((.context.Resources.ByType "image").GetMatch .keyword).Permalink }}

{{- else if or (hasPrefix .imgUrl "//") (or (hasPrefix .imgUrl "http://") (hasPrefix .imgUrl "https://")) }}
{{- $img = (.imgUrl | absURL) }}

{{- else if $isMatchedUrl }}
{{- $img = $isMatchedUrl.Permalink }}

{{- else if .imgUrl }}
{{- $img = (.imgUrl) }}
{{- $img = (print $url_post "/" $img) }}
{{- end }}

{{- return $img }}