<div class="prose">
  <a href="{{ .Permalink }}" class="no-underline">
    <h3 class="doc-list-title mt-0">{{ .LinkTitle }}</h3>
  </a>
  {{ if .Description }}
  {{ .Description | plainify | htmlUnescape }}
  {{ else if .Summary }}
  {{ .Summary | plainify | htmlUnescape }}
  {{ end }}

  {{ if eq .Type "docs" }}
  <div class="mx-6 text-left ">
    {{ range $index, $value := first 2 .Pages }}   {{/* Doc list pages count */}}
    {{ if gt $index 0 }}
    <div class="-mx-4 my-4 border-t"></div>
    {{ end -}}
    <a href="{{ .Permalink }}" class="no-underline">
      <h4 class="doc-list-title"> {{ .LinkTitle }}</h4>
    </a>
    {{ if .Description }}
    {{ .Description | plainify | htmlUnescape }}
    {{ else if .Summary }}
    {{ .Summary | plainify | htmlUnescape }}
    {{ end }}
    {{ end }}
    <a href="{{ .Permalink }}" class="no-underline">
      <h4 class="doc-list-title">
        {{ i18n "readMore" }}
        <i class="fas {{ cond (eq .Site.Language.LanguageDirection " rtl") "fa-caret-left" "fa-caret-right" }}
          ms-1"></i>
      </h4>
    </a>
  </div>
  {{ else }}
  {{ partial "components/post-metadata" . }}
  {{ end }}
</div>