{{/* {{ $url_post := .Permalink }}
{{ $video := partial "utils/get-video" (dict "context" . "url" .Params.featuredVideo "keyword" "*featured*") }}
{{ $image := partial "utils/get-image" (dict "context" . "url" .Params.featuredImage "keyword" "*featured*") }}
{{ $featured := ""}}
{{ if $video }}
{{ $featured = $video }}
{{ else if $image }} */}}
{{/* {{ $featured = print "<img src=\"" $image "\" class=\"w-full\" alt=\"Featured Image\"" | safeHTML }} */}} {{/* {{
    $featured="<img src=\"" $image " \"" | safeHTML }} */}} {{/* {{ $image_src :="" }} {{
    $image_src=print " <img src=\" " $image " \" " | safeHTML }}
{{ $featured = print " <a href=\" " $image_src " \" 33</a> " | safeHTML }}

{{ end }}
{{ return $featured }} */}}



{{ $video := partial "utils/get-video" (dict "context" . "url" .Params.featuredVideo "keyword" "*featured*") }}
{{ $image := partial "utils/get-image" (dict "context" . "url" .Params.featuredImage "keyword" "*featured*") }}

{{ if $video }}
{{ $video }}

{{ else if $image }}
<a href="{{ .Permalink }}">
    <img src="{{ $image }}">
</a>

{{ with .Params.featuredImage }}
{{ $image := $.Resources.GetMatch . }}
{{ . | absLangURL }}
1<img src="{{ $image }}" alt="432" border="1px">0
{{ end }}



{{ end }}